################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckoutOrder/CheckoutOrder/bin/
/CheckoutOrder/CheckoutOrder/obj/
/CheckoutOrder/CheckoutOrderTest/bin/
/CheckoutOrder/CheckoutOrderTest/obj/
/CheckoutOrder/packages
/CheckoutOrder/.vs/CheckoutOrder/v14/.suo
